.about-us {
  background-color: $color-alice-blue;
  padding: 33px 18% 118px 18%;

}

.about-us__wrapper {
display: flex;
flex-direction: column;
justify-content: center;
max-width: 1220px;
margin: 0 auto;

  @media screen and (max-width: 1023px) {
    width: 770px;
    padding: 7px 50px 78px 225px;
  }

  @media screen and (max-width: 767px) {
    width: 320px;
    padding: 1px 25px 78px 25px;
  }
}

.about-us__text-wrapper::after {
  position: absolute;
  top: 20px;
  left: -40px;
  width: 150px;
  height: 320px;
  background-image: url("/img/2022.png");
  content: "";


  @media screen and (max-width: 1023px) {
    top: 40px;
    left: 46px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.about-us__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  margin-bottom: 8px;
  color: $color-black-pearl;


  @media screen and (max-width: 1023px) {

    margin-bottom: 12px;
  }

  @media screen and (max-width: 767px) {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 8px;
  }
}

.about-us__text-wrapper {
  padding-left: 18%;
  max-width: 1220px;
  position: relative;
}


.about-us__text {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $color-black-pearl;
  margin-bottom: 18px;
  max-height: 165px;
  overflow: hidden;
  width: calc(300px + (970 - 300) * ((100vw - 500px) / (1920 - 500)));
  margin-right: 5%;
  display: inline-block;
  max-width: 970px;


  @media screen and (max-width: 1023px) {
    max-height: 260px;
    margin: 0;
    width: 495px;
  }

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 17px;
    max-height: 205px;
    width: 270px;
  }
}


.about-us__text.is-active {
  max-height: none;
  overflow: visible;
}


.about-us__button {
  display: block;
  width: 180px;
  padding: 14px 50px 14px 50px;
  border: solid 1px $color-deep-sky-blue;
  border-radius: 3px;
  margin-top: 20px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: $color-deep-sky-blue;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    margin-top: 15px;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 767px) {
    width: 160px;
    padding: 10px 15px;
  }
}

.about-us__button:hover {
  background-color: $color-deep-sky-blue;
  color: $color-alice-blue;
}
