.advantages {
  display: grid;
  grid-template-columns: repeat(2,595px);
  grid-column-gap: 23px;
  grid-row-gap: 30px;
  padding: 120px 349px;
  background-color: $color-whisper;
}

.advantages__list {
  list-style-type: none;
}

.advantages__item {
padding: 95px 45px 35px 0;
display: flex;
align-items: center;
}

.advantages__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: $color-deep-sky-blue;
  margin-bottom: 15px;
}

.advantages__text {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
