.advantages {
  background-color: $color-alice-blue;
  padding: 123px 18% 60px 18%;

  @media screen and (max-width: 1023px) {
    padding: 80px 54px 40px 46px;
  }

  @media screen and (max-width: 767px) {
    padding: 50px 7.8% 25px 7.8%;
  }
}

.advantages__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1220px;
  margin: 0 auto;

  @media screen and (max-width: 1023px) {
    width: 670px;
  }

  @media screen and (max-width: 767px) {
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    min-width: 270px;
    max-width: 647px;
  }
}

.advantages__list {
  max-width: 1220px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 595px));
  grid-column-gap: 35px;
  grid-row-gap: 30px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 321px);
    grid-column-gap: 29px;
    grid-row-gap: 30px;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: minmax(270px, 647px);
    grid-row-gap: 30px;
  }
}

.advantages__item {
  position: relative;
  padding: 40px 8% 35px 7%;
  border: solid 1px $color-whisper;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 300px;

  @media screen and (max-width: 1023px) {
    width: 321px;
    min-height: 360px;
    padding: 40px 43px 29px 43px;
  }


  @media screen and (max-width: 767px) {
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    min-width: 270px;
    max-width: 647px;
    min-height: 340px;
    padding: 29px 30px 35px 30px;
  }
}

.advantages__item--mobile {
  @media screen and (max-width: 767px) {
    min-height: 325px;
  }
}

.advantages__item:hover {
  background-color: $color-deep-sky-blue;
}

.advantages__item:hover .advantages__title {
  color: $color-default-white;
}

.advantages__item:hover .advantages__text {
  color: $color-default-white;
}


.advantages__item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: $color-deep-sky-blue;
  content: "";
}

.advantages__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: $color-deep-sky-blue;
  margin: 0;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1023px) {
    margin-bottom: 8px;
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
}

.advantages__title--mobile {
  @media screen and (max-width: 1023px) {
    margin-bottom: 8px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.advantages__text {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-black-pearl;
  margin: 0;

  @media screen and (max-width: 767px) {
    line-height: 20px;
  }

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.advantages__img {
  margin-bottom: 20px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 16px;
  }

  @media screen and (max-width: 767px) {
    width: 30px;
    height: 30px;
    margin-bottom: 18px;
  }
}

.advantages__img--mobile {
  @media screen and (max-width: 1023px) {
    margin-bottom: 12px;
  }
}
