.advantages {
  align-content: center;
  background-color: $color-alice-blue;
}

.advantages__wrapper {
  padding-top: 120px;
  padding-bottom: 60px;
  padding-left: 18%;
  padding-right: 18%;
  margin: 0 auto;

  @media screen and (max-width: 1023px) {
    width: 770px;
    padding: 80px 54px 40px 46px;
  }

  @media screen and (max-width: 767px) {
    width: 320px;
    padding: 50px 25px 25px 22px;
  }
}

.advantages__list {
  max-width: 1220px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, calc(150px + (595 - 150) * ((100vw - 500px) / (1920 - 500))));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 321px);
    grid-column-gap: 29px;
    grid-row-gap: 32px;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 270px;
    grid-row-gap: 30px;
  }
}

.advantages__item {
  width: calc(150px + (595 - 150) * ((100vw - 500px) / (1920 - 500)));
  max-width: 595px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 35px;
  padding-left: 8%;
  padding-right: 8%;
  border: solid 1px $color-whisper;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;

  @media screen and (max-width: 1023px) {
    width: 321px;
    height: 360px;
    padding: 37px 43px 35px 43px;
  }


  @media screen and (max-width: 767px) {
    width: 270px;
    height: 340px;
    padding: 27px 30px 35px 30px;
  }
}

.advantages__item--mobile {
  @media screen and (max-width: 767px) {
    height: 325px;
  }
}

.advantages__item:hover {
  background-color: $color-deep-sky-blue;
}

.advantages__item:hover .advantages__title {
  color: $color-default-white;
}

.advantages__item:hover .advantages__text {
  color: $color-default-white;
}


.advantages__item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: $color-deep-sky-blue;
  content: "";
}

.advantages__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: $color-deep-sky-blue;
  margin: 0;
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1023px) {
    margin-bottom: 12px;
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
}

.advantages__text {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-black-pearl;

  @media screen and (max-width: 1023px) {
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
  }
}

.advantages__img {
  margin-bottom: 20px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 15px;
  }
}
