.catalog {
  background-color: $color-black-pearl;
  padding: 33px 18% 140px 18%;

  @media screen and (max-width: 1023px) {
    padding: 18px 50px 75px 50px;
  }

  @media screen and (max-width: 767px) {
    padding: 18px 7.8% 86px 7.8%;
  }
}

.catalog__wrapper {

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1220px;

  @media screen and (max-width: 1023px) {
    width: 670px;
  }

  @media screen and (max-width: 767px) {
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    max-width: 647px;
  }
}

.catalog__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  margin-bottom: 50px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 38px;
  }

  @media screen and (max-width: 767px) {
    font-size: 28px;
    line-height: 40px;
  }
}

.catalog__title--mobile {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: 28px;
  }
}

.catalog__title--desktop {
  display: block;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 350px));
  grid-column-gap: 7%;
  grid-row-gap: 85px;
  grid-template-rows: 650px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 1220px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 670px;
    grid-row-gap: 30px;
    grid-template-rows: 250px;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: minmax(270px, 647px);
  }
}

.catalog__link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: $color-default-white;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}

.catalog__item:hover .catalog__link {
  color: $color-deep-sky-blue;
}

.catalog__item:hover .catalog__button {
  background-color: $color-black-pearl;
}

.catalog__item {
  position: relative;
  padding: 50px 120px 50px 40px;
  height: 650px;
  background-image: url("../img/card-1.jpg");
  background-color: $color-black-pearl;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;

  @media screen and (max-width: 1023px) {
    padding: 38px 45px;
    width: 670px;
    height: 250px;
    background-image: url("../img/card-1-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    padding: 26px 30px;
    background-image: url("../img/card-1-mobile.jpg");
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    max-width: 647px;
  }
}

.catalog__item--montage {
  background-image: url("../img/card-2.jpg");

  br {
    display: none;
  }

  @media screen and (max-width: 1023px) {
    background-image: url("../img/card-2-tablet.jpg");

    br {
      display: block;
    }
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/card-2-mobile.jpg");
  }
}

.catalog__item--accessories {
  background-image: url("../img/card-3.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/card-3-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/card-3-mobile.jpg");
  }
}

.catalog__button {
  position: absolute;
  top: 590px;
  right: 0;
  background-color: $color-deep-sky-blue;
  width: 60px;
  height: 60px;
  background-image: url("../img/svg/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  @media screen and (max-width: 1023px) {
    top: 190px;
  }

  @media screen and (max-width: 767px) {
    top: 210px;
    width: 40px;
    height: 40px;
  }
}
