.contacts {
  @media screen and (max-width: 1023px) {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0;
    margin: 0;
  }
}

.contacts__list {
  width: 480px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-right: 145px;
  list-style-type: none;
  padding: 0;

  @media screen and (max-width: 1023px) {
    margin: 0;
    margin-right: 10px;
    justify-content: flex-end;
    width: 280px;
  }

  @media screen and (max-width: 767px) {
    width: 150px;
  }
}

.contacts__list:nth-child(odd) {
  margin-right: 25px;
}

.contacts__link {
  color: $color-alice-blue;
  text-decoration: none;
  vertical-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contacts__link:hover {
  color: $color-deep-sky-blue;
}

.contacts__item {
  width: 225px;
  margin: 0;
  height: 25px;
  padding: 0;
  margin-bottom: 10px;


  @media screen and (max-width: 1023px) {
    width: 20px;
    height: 20px;
    margin: -5px 0 20px 40px;
  }

  @media screen and (max-width: 767px) {
    margin-left: 40px;
    margin-top: 5px;
  }
}

.contacts__text {
  margin: 0;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}


.contacts__img {
  margin-right: 15px;

  @media screen and (max-width: 1023px) {
    margin: 0;
  }
}
