.contacts__list{
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  margin-right: 145px;
  list-style-type: none;
}
