.footer {
  background-color: $color-black-pearl;
}


.footer__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 58px;
  padding-bottom: 40px;
  padding-left: calc(50px + (100vw - 1024px) * (50 - 350) / (1024 -  1920));
  padding-right: calc(50px + (100vw - 1024px) * (50 - 350) / (1024 -  1920));
  height: auto;
 // justify-content: space-between;
  margin: 0 auto;

  @media screen and (max-width: 1023px) {
    width: 770px;
    padding: 55px 45px 55px 50px;
  }

  @media screen and (max-width: 767px) {
    clear: both;
    position: relative;
    padding: 35px 25px 45px 25px;
    width: 320px;
    flex-direction: row;
    margin: 0 auto;
    height: auto;
  }
}

.footer__wrapper::after {
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 320px;
    height: 1px;
    background-color: $color-transparent-white;
    content: "";
  }
}

.footer__logo {

  margin-bottom: 30px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 7px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

.footer__img {
  margin: -8px 45px 0 0;

  @media screen and (max-width: 767px) {
    margin: 0 25px 15px 25px;
  }
}

.footer__first-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 215px;
  margin: 0;
  margin-right: 8%;


  @media screen and (max-width: 1023px) {
    width: 675px;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  @media screen and (max-width: 767px) {
    width: 270px;
    flex-direction: column;
    margin-bottom: 18px;
    align-content: center;
  }
}

.footer__second-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 1023px) {
    margin-left: 0;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 767px) {
    clear: both;
    flex-direction: column;
    width: 270px;
  }
}
