.footer {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
padding: 50px 350px 40px 350px;
background-color: $color-black-pearl;
margin: 0;
height: 280px;

@media screen and (max-width: 1023px) {
  height: 465px;
  padding: 50px 45px 55px 50px;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
 padding: 35px 25px;
 width: 320px;
 min-height: 475px;
 flex-direction: row;
}
}

.footer__logo {
  margin-bottom: 30px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 35px;
}
}

.footer__img {
@media screen and (max-width: 767px) {
  margin: 0 25px 15px 25px;
}
}

.footer__first-column {
  @media screen and (max-width: 1023px) {
    width: 675px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 767px) {
  width: 270px;
flex-direction: column;
margin-bottom: 25px;
align-content: center;
}

}

.footer__second-column {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1023px) {
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
flex-direction: column;
width: 270px;
}
}
