
.footer-contacts__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-bottom: 20px;
   margin-left: 81px;
   text-transform: uppercase;

   @media screen and (max-width: 767px) {
    position: relative;
    margin-left: 0;
}
}

.footer-contacts__title::after {
  @media screen and (max-width: 767px) {
  position: absolute;
top: -15px;
left: -25px;
width: 320px;
height: 1px;
background-color: $color-transparent-white;
content: "";
}
}



.footer-contacts__list{
list-style-type: none;
padding: 0;
margin: 0;
width: 345px;
margin-left: 81px;

@media screen and (max-width: 1023px) {
  margin: 0;
  width: 320px;
}
@media screen and (max-width: 767px) {
  width: 270px;
  flex-wrap: nowrap;
}
}

.footer-contacts__link,
.footer-contacts__item {
  color: $color-transparent-white;
font-family: "PT Mono", "Arial", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-decoration: none;
margin-bottom: 10px;

@media screen and (max-width: 767px) {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
}
}
