.form__fieldset {
  display: flex;
  width: calc(400px + (585 - 400) * ((100vw - 500px) / (1920 - 500)));
  border: none;
  padding: 0;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    max-width: 647px;
  }
}


.form__fieldset--modal {
  width: 420px;
  box-sizing: border-box;
  flex-direction: column;
}

.form__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  margin-bottom: 10px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 5px;
  }

  @media screen and (max-width: 767px) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 8px;
  }
}

.form__text {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 33px;


  @media screen and (max-width: 1023px) {
    margin-bottom: 25px;
  }

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 35px;
  }
}

.form__text--modal {
  font-size: 14px;
  line-height: 16px;
}

.form__input {
  box-sizing: border-box;
  width: calc(170px + (275 - 170) * ((100vw - 500px) / (1920 - 500)));
  max-width: 275px;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  padding: 13px;
  background-color: $color-transparent;
  cursor: text;

  @media screen and (max-width: 1023px) {

    margin-bottom: 22px;
  }

  @media screen and (min-width: 767px) and (max-width: 1023px) {
    min-width: 320px;
  }

  @media screen and (max-width: 767px) {
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    margin-bottom: 20px;
    max-width: 647px;
  }
}

.form__input:hover,
.form__input:focus {
  background-color: $color-transparent-dark;
}

.form__input--wrapper {
  padding: 0;
  background-color: transparent;
}

.form__input--modal {
  min-width: 420px;
}

.form__input--modal:focus {
  background-color: $color-transparent-dark;
}

.form__first-row {
  width: calc(400px + (580 - 400) * ((100vw - 500px) / (1920 - 500)));
  max-width: 580px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 767px) and (max-width: 1023px) {
    min-width: 670px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    max-width: 647px;
  }
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
}

.form__textarea {
  width: calc(400px + (580 - 400) * ((100vw - 500px) / (1920 - 500)));
  max-width: 580px;
  min-height: 155px;
  background-color: $color-transparent;
  border: none;
  border-radius: 3px;
  padding: 13px;
  padding-top: 25px;
  margin: 0;
  margin-bottom: 36px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  cursor: text;

  @media screen and (max-width: 1023px) {

    padding-top: 27px;
    margin-bottom: 34px;
  }

  @media screen and (min-width: 767px) and (max-width: 1023px) {
    min-width: 670px;
  }

  @media screen and (max-width: 767px) {
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    margin-bottom: 30px;
    padding-top: 24px;
    min-height: 180px;
    max-width: 647px;
  }
}

.form__textarea:hover,
.form__textarea:focus {
  background-color: $color-transparent-dark;
}

.form__textarea--modal {
  max-width: 420px;
  margin-bottom: 25px;
}

.form__button-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: calc(400px + (580 - 400) * ((100vw - 500px) / (1920 - 500)));
  max-width: 580px;

  @media screen and (max-width: 1023px) {

    justify-content: flex-start;
  }

  @media screen and (min-width: 767px) and (max-width: 1023px) {
    min-width: 670px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    max-width: 647px;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.form__button-wrapper--modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form__button {
  box-sizing: border-box;
  width: calc(150px + (265 - 150) * ((100vw - 500px) / (1920 - 500)));
  max-width: 265px;
  padding: 14px 35px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;
  margin: 0 0 10px 0;
  cursor: pointer;
  order: -1;
  margin-right: 50px;

  @media screen and (max-width: 1023px) {
    width: 265px;
    margin-right: 78px;
    letter-spacing: 1px;
    padding: 16px 33px 12px 35px;
  }

  @media screen and (max-width: 767px) {
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    margin-bottom: 22px;
    margin-right: 0;
    max-width: 647px;
    padding: 14px 35px;
  }
}

.form__button:hover {
  background-color: $color-default-white;
  color: $color-black-pearl;
}

.form__button--modal {
  min-width: 420px;
  padding: 15px 60px;
  margin-bottom: 10px;
  order: -1;
}


.form__text--checkbox {
  position: relative;
  display: block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  cursor: text;
  width: auto;
  max-width: 265px;
  box-sizing: border-box;

  @media screen and (max-width: 1023px) {
    margin-bottom: 2px;
    width: 260px;
  }

  @media screen and (max-width: 767px) {
    br {
      display: none;
    }

    width: calc(241px + (100vw - 320px) * (241 - 618) / (320 - 767));
    max-width: 618px;
    margin-bottom: 0;
  }
}

.form__label--checkbox {
  position: relative;
  display: block;
  padding-left: 29px;
  cursor: pointer;
}

.form__label--modal {
  position: relative;
  display: block;
  padding-left: 34px;
}

.form__mark {
  position: absolute;
  top: 10px;
  left: 2px;
  width: 15px;
  height: 15px;
  border: solid 1px $color-default-white;
  border-radius: 2px;

  @media screen and (max-width: 1023px) {
    top: 5px;
    left: 5px;
  }

  @media screen and (max-width: 767px) {
    top: 8px;
  }
}

.form__mark--modal {
  top: 5px;
  left: 7px;
}

.form__checkbox[type="checkbox"]:checked + .form__mark::after,
.form__checkbox--modal[type="checkbox"]:checked + .form__mark--modal::after {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  content: "";
}

.form__label--checkbox:hover .form__text--checkbox,
.form__label--checkbox:focus-within .form__text--checkbox,
.form__label--modal:hover .form__text--modal,
.form__label--modal:focus-within .form__text--modal {
  color: $color-black-pearl;
}

.form__label--checkbox:focus-within .form-mark,
.form__label--modal:focus-within .form__mark--modal {
  border: solid 1px $color-black-pearl;
}
