.form-index {
  width: 100%;
  background-color: $color-deep-sky-blue;
  background-size: cover;
  background-position: center;
  background-image: url("/img/form.png");
  background-repeat: no-repeat;

  @media screen and (max-width: 1023px) {
    background-image: none;
  }
}

.form-index__wrapper {
  height: 840px;
  padding-top: 137px;
  padding-bottom: 202px;
  padding-left: 51%;
  padding-right: 18%;
  box-sizing: border-box;
  margin: 0 auto;

  @media screen and (max-width: 1023px) {
    width: 770px;
    background-image: none;
    padding: 18px 50px 125px 50px;
    height: 580px;
  }

  @media screen and (max-width: 767px) {
    width: 320px;
    padding: 20px 25px 90px 23px;
    min-height: 750px;
  }
}
