.form {
  background-image:  url('../../img/form.png');
  background-color: $color-deep-sky-blue;
  background-repeat: no-repeat;
  height: 840px;
  padding: 170px 360px 200px 980px;
  margin: 0;

  @media screen and (max-width: 1023px) {
    background-image: none;
padding: 50px 50px 125px 50px;
height: 580px;
}

@media screen and (max-width: 767px) {
  padding: 50px 25px 90px 25px;
  height: 750px;
}
}

.form__fieldset {
display: flex;
width: 585px;
border: none;
padding: 0;
flex-wrap: wrap;

@media screen and (max-width: 767px) {
  flex-direction: column;
  width: 270px;
}
}

.form__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  margin-bottom: 15px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 20px;
  flex-direction: column;
}
}

.form__text {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 35px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 40px;
}
}

.form__text--modal {
  font-size: 14px;
  line-height: 16px;
}

.form__input {
box-sizing: border-box;
width: 275px;
height: 50px;
margin-bottom: 20px;
border: none;
border-radius: 3px;
padding: 15px;
background-color: $color-transparent;

@media screen and (max-width: 1023px) {
  width: 320px;
}

@media screen and (max-width: 767px) {
width: 270px;
margin-bottom: 20px;
}
}

.form__input--modal {
width: 420px;
}

.form__first-row {
  width: 585px;
  display: flex;
justify-content: space-between;

@media screen and (max-width: 1023px) {
  width: 670px;
}

@media screen and (max-width: 767px) {
  flex-direction: column;
  width: 270px;
}
}

.form__input::placeholder{
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
}

.form__textarea {
  width: 585px;
  min-height: 155px;
  background-color: $color-transparent;
  border: none;
  border-radius: 3px;
  padding: 15px;
  padding-top: 25px;
  margin: 0;
  margin-bottom: 35px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 35px;
  color: $color-default-white;

  @media screen and (max-width: 1023px) {
    width: 670px;
  }
  @media screen and (max-width: 767px) {
    width: 270px;
    margin-bottom: 30px;
  }
}

.form__textarea--modal {
width: 420px;
margin-bottom: 25px;
}

.form__button {
  width: 265px;
  padding: 15px 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;
  margin: 0;
  margin-right: 50px;

  @media screen and (max-width: 1023px) {
    margin-right: 85px;
}
@media screen and (max-width: 767px) {
  width: 270px;
  margin-bottom: 25px;
}
}

.form__button--modal {
width: 420px;
padding: 15px 60px;
}

.form__button-wrapper {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 767px) {
 flex-direction: column;
 width: 270px;
}
}

.form__text--checkbox{
  position: relative;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  }

  .form__label--checkbox {
    position: relative;
    display: block;
padding-left: 29px;
  }


.form__mark {
position: absolute;
top: 13px;
left: 0;
width: 15px;
height: 15px;
border: solid 1px $color-default-white;
border-radius: 2px;
}

.form__checkbox[type="checkbox"]:checked + .form__mark::after {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 22px;
  height: 16px;
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
  content: "";
}
