.header {
  width: 1920px;
  min-height: 120px;
  display: flex;
  align-items: center;
  padding: 0;
  background-image: $black-to-down;
  margin: 0;
  z-index: 10;

  @media (min-width: 1024px) {
  position: fixed;
top: 0;

  }

  @media screen and (max-width: 1023px) {
    padding: 20px 70px 25px 50px;
    min-height: 100px;
    justify-content: space-between;
    width: 770px;
   position: relative;
}

@media screen and (max-width: 767px) {
width: 320px;
min-height: 70px;
padding: 15px 35px 20px 26px;
}
}

.header__logo{
margin-left: 350px;
margin-right: 160px;


@media screen and (max-width: 1023px) {
margin: 0;
}
@media screen and (max-width: 767px) {
  width: 35px;
  height: 35px;
}
}

.header__button {
  width: 170px;
  height: 40px;
  padding: 10px 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
  border: solid 1px $color-alice-blue;
  color: $color-alice-blue;
  margin: 0;
  margin-top: -10px;
  letter-spacing: 1px;
  border-radius: 3px;

  @media screen and (max-width: 1023px) {
    display: none;
}
}
