.header {
  width: 1920px;
  height: 120px;
  display: flex;
  align-items: center;
}

.header__logo{
margin-left: 350px;
margin-right: 160px;
}

.header__button {
  width: 160px;
  height: 40px;
  padding: 10px 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
  border: solid 1px $color-alice-blue;
}
