.page{
  background-color: $color-default-white;
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: flex;
}

.page__container {
  width: 1920px;
  margin: 0 auto;
  color: $color-default-white;

  @media screen and (max-width: 1023px) {
    width: 770px;
}

@media screen and (max-width: 767px) {
  width: 320px;
}
}

.page__header-wrapper {
background-image: url("../../img/welcome.jpg");
background-repeat: no-repeat;
margin: 0;
padding: 0;
height: 880px;

@media screen and (max-width: 1023px) {
  background-image: url("../../img/welcome-tablet.jpg");
  height: 640px;
}

@media screen and (max-width: 767px) {
  height: 560px;
}
}
