.page{
  background-color: $color-default-white;
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: flex;

}

.page__container {
  width: 1920px;
  margin: 0 auto;
  color: $color-default-white;
}
