.site-list {
  @media screen and (max-width: 767px) {
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    max-width: 647px;
  }
}

.site-list__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  height: auto;
  grid-column-gap: 20%;
  grid-row-gap: 6px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-auto-flow: dense;

  @media screen and (min-width: 1023px) {
    max-width: 30%;
  }


  @media screen and (max-width: 1023px) {
    display: block;
    height: auto;
    width: 220px;
    margin-right: 130px;
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    max-width: 647px;
    flex-direction: column;
    flex-wrap: nowrap;
    display: none;
    margin: 0;
    margin-top: -5px;
    height: auto;
  }
}

.site-list.is-active .site-list__list {
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.site-list__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media screen and (max-width: 767px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 51px 20px 0;
    margin-bottom: 0;
    text-align: center;
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
  }
}

.site-list__title::after {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: -5px;
    left: -9.5%;
    width: calc(320px + (100vw - 320px) * (320 - 767) / (320 - 767));
    height: 1px;
    background-color: $color-transparent-white;
    content: "";
  }
}

.site-list__title::before {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 15px;
    right: 0;
    width: 15px;
    height: 15px;
    background-image: url("../img/svg/plus.svg");
    background-repeat: no-repeat;
    content: "";
  }
}

.site-list.is-active .site-list__title::before {
  background-image: url("../img/svg/minus.svg");
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  background-repeat: no-repeat;
  content: "";
}

.site-list__link {
  color: $color-transparent-white;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 25px;
  }
}

.site-list__link:hover {
  color: $color-deep-sky-blue;
}

.site-list__item {
  margin: 0;
  height: fit-content;
  width: calc(100px + (220 - 100) * ((100vw - 500px) / (1920 - 500)));


  @media screen and (min-width: 1023px) {
    max-width: 220px;
  }

  @media screen and (max-width: 1023px) {
    width: 220px;
    margin-right: 130px;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 7px;
    width: calc(270px + (100vw - 320px) * (270 - 647) / (320 - 767));
    max-width: 647px;
  }
}

.site-list__item--details {
  grid-column: 2/3;
  grid-row: 1/2;
}

.site-list__item--delivery {
  grid-column: 2/3;
  grid-row: 2/3;
}

.site-list__item--contacts {
  grid-column: 2/3;
  grid-row: 3/4;
}
