.site-list {
  @media screen and (max-width: 767px) {
    width: 270px;
  }
}

.site-list__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(160px + (470 - 160) * ((100vw - 500px) / (1920 - 500)));
  height: 145px;
  margin-right: 5%;

  @media screen and (max-width: 1023px) {
    height: 230px;
    width: 220px;
    margin-right: 130px;
  }

  @media screen and (max-width: 767px) {
    width: 270px;
    flex-wrap: nowrap;
    display: none;
    margin: 0;
    margin-top: -5px;
  }
}

.site-list.is-active .site-list__list {
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.site-list__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media screen and (max-width: 767px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 51px 20px 0;
    margin-bottom: 0;
  }
}

.site-list__title::after {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: -5px;
    left: -25px;
    width: 320px;
    height: 1px;
    background-color: $color-transparent-white;
    content: "";
  }
}

.site-list__title::before {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 15px;
    right: 0;
    width: 15px;
    height: 15px;
    background-image: url("/img/svg/plus.svg");
    background-repeat: no-repeat;
    content: "";
  }
}

.site-list.is-active .site-list__title::before {
  background-image: url("/img/svg/minus.svg");
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  background-repeat: no-repeat;
  content: "";
}

.site-list__link {
  color: $color-transparent-white;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 25px;
  }
}

.site-list__link:hover {
  color: $color-deep-sky-blue;
}

.site-list__item {
  width: calc(75px + (220 - 75) * ((100vw - 500px) / (1920 - 500)));
  margin: 0;
  margin-bottom: 5px;
  margin-right: 1.5%;


  @media screen and (max-width: 1023px) {
    width: 220px;
    margin-right: 130px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 6px;
  }
}
